Converter/Database/Schemas/ToolExportMapping.xml

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:sql="urn:schemas-microsoft-com:mapping-schema">

  <xsd:annotation>
    <xsd:appinfo>
      <sql:relationship name="ActionIssues"
          parent="omAction"
          parent-key="FileId ToolId ActionDate"
          child="omActionIssue"
          child-key="FileId ToolId ActionDate" />
      <sql:relationship name="ActionFiles"
          parent="omAction"
          parent-key="FileId ToolId ActionDate"
          child="omActionFile"
          child-key="FileId ToolId ActionDate" />
    </xsd:appinfo>
  </xsd:annotation>
  
  <xsd:element name="OMPMActions" sql:is-constant="1">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element maxOccurs="unbounded" name="Action" sql:relation="omAction">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="FileId" type="xsd:unsignedInt" />
              <xsd:element name="ToolId" type="xsd:unsignedInt" />
              <xsd:element name="ActionDate" type="xsd:string" sql:datatype="datetime" />
              <xsd:element name="ActionOptions" type="xsd:string" />
              <xsd:element name="FileModifiedDate" type="xsd:string" sql:datatype="datetime" />
              <xsd:element name="Issues" sql:is-constant="1" >
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" name="Issue" sql:relation="omActionIssue" sql:relationship="ActionIssues">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="IssueId" type="xsd:unsignedInt" />
                          <xsd:element name="IsResolved" type="xsd:unsignedByte" />
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="OutputFiles" sql:is-constant="1">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" name="OutputFile" sql:relation="omActionFile" sql:relationship="ActionFiles">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="Domain" type="xsd:string" />
                          <xsd:element name="ComputerName" type="xsd:string" />
                          <xsd:element name="Path" type="xsd:string" />
                          <xsd:element name="Name" type="xsd:string" />
                          <xsd:element name="ActionDate" type="xsd:string" sql:datatype="datetime" />
                          <xsd:element name="FileCategoryId" type="xsd:unsignedByte" />
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  
</xsd:schema>